.bg{
    /* background-color: black; */
    background-image: url('../../assets/login-image-new.png');
        background-repeat: 'no-repeat';
        /* background-color;:
          theme.palette.type === 'light' ? theme.palette.grey[50] : theme.palette.grey[900]; */
        background-size: 'cover';
        background-position: 'center';
}